* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    height:100% ;
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: url(img/backrio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*border: 3px solid purple;*/

}

.container {
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    width: 18rem;
    height: 19rem;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

}

.namee,
.emaill,
.cpff,
.tel {
    font-size: 20px;
    /*border: 1px solid blue;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}



.enviar {
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    margin-left: 27%;
    margin-top: 5%;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;

}

#tel,
#cpf,
#email,
#nome {
    width: 150px;
    height: 20px;
    text-align: center;
    margin-left: 5px;
    /*border: 1px solid black;*/
    font-size: 18px;
}

#nome{
    border-style: hidden;
    text-decoration: none;
}
