* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    margin-top: 18%;
    background-color: rgb(205, 206, 219);
    background-image: url(img/TOUR.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container{
    display:flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    width: 18rem;
    height: 19rem;
    border-radius: 10px;
    align-items: center;
    background-color: white;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

}

.namee ,.emaill ,.cpff ,.tel {
    font-size: 22px;
    margin-bottom: 20px;
    /*border: 1px solid blue;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1{
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}



.enviar{
    border:1px solid black;
    padding: 3px;
    border-radius: 5px;
    margin-left: 27%;
    margin-top: 5%;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    
}

#tel, #cpf, #email, #nome{
    width: 150px;
    height: 20px;
    text-align:center;
    border: none;
    
}
